* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
}

.forms-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
    margin-right: 900px;
}



.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

    .input-field i {
        text-align: center;
        line-height: 55px;
        color: var(--color-primary);
        transition: 0.5s;
        font-size: 1.1rem;
    }

    .input-field input {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--color-primary);
    }

        .input-field input::placeholder {
            color: var(--color-body);
            font-weight: 500;
        }

.btn {
    width: 150px;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

    .btn:hover {
        background-color: var(--color-secondary);
    }

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.title {
    font-size: 2.2rem;
    color: var(--color-primary);
    margin-bottom: 10px;
    text-align: center;
}

.panels-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 800px;
}

.blue-ball {
    position: fixed;
    height: 2000px;
    width: 2000px;
    top: -10%;
    left: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient( -45deg, var(--color-primary) 0%, #4481eb 100% );
    border-radius: 50%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.easyLearn {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    right: 10px;
    bottom: 625px;
}

    .easyLearn a {
        text-decoration: none;
        color: white;
        transition: 0.3s;
    }

        .easyLearn a:hover {
            color: lightgray;
        }
