@inject NavigationManager NavigationManager
@inject ITeacherService TeacherService

<div class="input-group">
	<input  @bind-value="searchText"
			@bind-value:event="oninput"
			type="search"
			list="proposals"
			@onkeyup="HandleSearch"
			class="form-control"
			placeholder="Search Proposals..."
			@ref="searchInput" />
	<datalist id="proposals">
		@foreach (var suggestion in suggestions)
		{
			<option>@suggestion</option>
		}
	</datalist>
	<div class="input-group-append">
		<button class="btn btn-primary" @onclick="SearchProposal">
			<span class="oi oi-magnifying-glass"></span>
		</button>
	</div>
</div>

@code {
	private string searchText = string.Empty;
	private List<string> suggestions = new List<string>();
	protected ElementReference searchInput;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await searchInput.FocusAsync();
		}
	}

	public void SearchProposal()
	{
		if (searchText.Equals(string.Empty))
		{
			NavigationManager.NavigateTo("admin/proposals/1");
		}
		else
		{
			NavigationManager.NavigateTo($"admin/proposals/search/{searchText}/1");
		}
	}

	public async Task HandleSearch(KeyboardEventArgs args)
	{
		if(args.Key == null || args.Key.Equals("Enter"))
		{
			SearchProposal();
		}else if(searchText.Length > 1)
		{
			suggestions = await TeacherService.GetTeacherSearchSuggestions(searchText);
		}
	}
}

